@page
@model AnimalAdoption.Web.Portal.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<form asp-controller="Cart" method="post">
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Increment</th>
                <th>Decrement</th>
            </tr>
        </thead>
        <tbody>
            @{ if (Model.Cart?.CartContents != null)
                    foreach (var animal in Model.Cart.CartContents)
                    {
                        <tr key=@animal.Id>
                            <td>@animal.Id</td>
                            <td>@animal.Name</td>
                            <td>@animal.Quantity</td>
                            <td><button asp-route-id="@animal.Id" name="quantity" value="@(animal.Quantity + 1)">+</button></td>
                            <td><button asp-route-id="@animal.Id" name="quantity" value="@(animal.Quantity - 1)">-</button></td>
                        </tr>
                    }
            }
        </tbody>
    </table>
</form>
